body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Set the height of the body to 100% of the viewport height */
  color: #fff;
}

header {
  text-align: center;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.7); /* Dark transparent background for header */
  color: #fff;
}

nav {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Dark transparent background for navigation */
  padding: 10px 0;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #6aff6a;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

.bubble-effect {
  background-color: rgba(0, 0, 0, 0.9); /* Dark transparent background for sections */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  transition: transform 0.5s;
}

.bubble-effect:hover {
  transform: scale(1.05);
}

.bubble-effect h2 {
  margin-bottom: 20px;
}

.bubble-effect ul, .bubble-effect ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dark transparent background for footer */
  color: #fff;
}

footer p {
  margin: 0;
}
